header, footer {
    background: linear-gradient(to right, #5b81ff, #7190f7); /* Gradient */
    padding: 10px;
    color: #ffffff; /* Text color */
}

.image-container {
    position: relative; /* Needed for text positioning */
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%; /* Image adjusts to width */
    height: auto;
}

.overlay-text {
    position: absolute; /* Positions text */
    top: 50%; /* Centers vertically */
    left: var(--overlay-left, 20%); /* Centers horizontally */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

main {
    padding: 10px;
    background: #d0dbff;
}

button.btn {
    margin-top: 10px; /* Space above the button */
    width: 200px; /* Adjust width */
    padding: 10px; /* Padding inside button */
    float: left;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

.carousel-inner .carousel-item img {
    max-width: 60%;  /* Redimensiona la imagen al 60% de su tamaño original */
    height: auto;  /* Mantiene la proporción de la imagen */
    object-fit: contain;  /* Asegura que la imagen se ajuste sin distorsionarse */
    margin: 0 auto;  /* Centra la imagen dentro del contenedor */
}

/* Cambiar el color del texto dentro del carrusel */
.carousel-caption h5, .carousel-caption p {
    color: black;  /* Cambia el color del texto a negro */
}

/* Opcional: Asegura que las imágenes en el carrusel no desborden */
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}